body {
  font-family:Arial;
}

input {
  width: 500px;
}

#menu {
  border-bottom: 1px #ccc solid;
  padding: 10px;
}

.node circle {
    cursor: pointer;
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font-size: 13px;
}

path.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}
